<link rel="stylesheet" href="/public/stylesheets/style.css">
<div class='container'>
	<div class='page-header text-center'>
		<h1><span class='fa fa-anchor'></span> Profile Page </h1>
		<a href='/logout' class='btn btn-default btn-sml'>Logout</a>
	</div>

	<div class='row'>
		{{#each recipes}}
			{{title}}
			{{ingredients}}
		{{/each}}
		
			</div>
		</div>
		
	</div>
</div>


