


<div class='container'>
	<div id='twilioForm' class='row'>
		<div class='col-md-6 col-md-offset-3'>
			<div class='well'> 
				<h3>Grocery List</h3>
				<div class='form-group'>
					<form>
						<textarea class='form-control grocery-list' rows='10'> </textarea>
						<button type="submit" class="btn btn-default btn-block">Text me!</button>
					</div>
			</div>
		</div>
	</div>




	<div class='row recipe-list'>

		<a>
		<div class='col-sm-4'>
			<div class='well'>
				<h3>Recipe Title</h3>
				<ul class='list-unstyled'>
					<li>ingredient</li>
					<li>another ingredient</li>
					<li>more ingredients</li>
					<li>(maybe a little advice)</li>
				</ul>

			</div>
		</div>
		</a>

		<div class='col-sm-4'>
			<div class='well'>
				<h3>Recipe Title</h3>
				<ul class='list-unstyled'>
					<li>ingredient</li>
					<li>another ingredient</li>
					<li>more ingredients</li>
					<li>(maybe a little advice)</li>
				</ul>

			</div>
		</div>
		<div class='col-sm-4'>
			<div class='well'>
				<h3>Recipe Title</h3>
				<ul class='list-unstyled'>
					<li>ingredient</li>
					<li>another ingredient</li>
					<li>more ingredients</li>
					<li>(maybe a little advice)</li>
				</ul>

			</div>
		</div>
		<div class='col-sm-4'>
			<div class='well'>
				<h3>Recipe Title</h3>
				<ul class='list-unstyled'>
					<li>ingredient</li>
					<li>another ingredient</li>
					<li>more ingredients</li>
					<li>(maybe a little advice)</li>
				</ul>

			</div>
		</div>
		<div class='col-sm-4'>
			<div class='well'>
				<h3>Recipe Title</h3>
				<ul class='list-unstyled'>
					<li>ingredient</li>
					<li>another ingredient</li>
					<li>more ingredients</li>
					<li>(maybe a little advice)</li>
				</ul>

			</div>
		</div>
		<div class='col-sm-4'>
			<div class='well'>
				<h3>Recipe Title</h3>
				<ul class='list-unstyled'>
					<li>ingredient</li>
					<li>another ingredient</li>
					<li>more ingredients</li>
					<li>(maybe a little advice)</li>
				</ul>

			</div>
		</div>
	</div>
</div>



